In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f1c499196f0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/pandas/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f1c49919900>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/pandas/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f1c49919b10>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/pandas/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f1c49919cc0>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/pandas/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f1c49919e70>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/pandas/
ERROR: Could not find a version that satisfies the requirement pandas (from versions: none)
ERROR: No matching distribution found for pandas
Note: you may need to restart the kernel to use updated packages.

In [2]:
sudo apt install -y python3-virtualenv

SyntaxError: invalid syntax (3182288614.py, line 1)

In [4]:
pip3 install pandas

SyntaxError: invalid syntax (3029356636.py, line 1)

In [5]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 374.6 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 KB 902.7 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Collecting python-dateutil>=2.8.2
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.7/247.7 KB 1.2 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, python-dateutil, pandas
Successfully installed pandas-2.0.0 python-dateutil-2.8.2 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [5]:
simpsons = pd.read_html("https://en.wikipedia.org/wiki/List_of_The_Simpsons_episodes_(seasons_1%E2%80%9320)")

In [6]:
len(simpsons)

23

In [10]:
simpsons[1]

,No. overall,No. in season,Title,Directed by,Written by,Original air date,Prod. code,U.S. viewers (millions)
0,1,1,"""Simpsons Roasting on an Open Fire""",David Silverman,Mimi Pond,"December 17, 1989",7G08,26.7[47]
1,2,2,"""Bart the Genius""",David Silverman,Jon Vitti,"January 14, 1990",7G02,24.5[47]
2,3,3,"""Homer's Odyssey""",Wes Archer,Jay Kogen & Wallace Wolodarsky,"January 21, 1990",7G03,27.5[48]
3,4,4,"""There's No Disgrace Like Home""",Gregg Vanzo & Kent Butterworth,Al Jean & Mike Reiss,"January 28, 1990",7G04,20.2[49]
4,5,5,"""Bart the General""",David Silverman,John Swartzwelder,"February 4, 1990",7G05,27.1[50]
5,6,6,"""Moaning Lisa""",Wes Archer,Al Jean & Mike Reiss,"February 11, 1990",7G06,27.4[51]
6,7,7,"""The Call of the Simpsons""",Wes Archer,John Swartzwelder,"February 18, 1990",7G09,27.6[52]
7,8,8,"""The Telltale Head""",Rich Moore,"Al Jean, Mike Reiss, Sam Simon & Matt Groening","February 25, 1990",7G07,28.0[53]
8,9,9,"""Life on the Fast Lane""",David Silverman,John Swartzwelder,"March 18, 1990",7G11,33.5[54]
9,10,10,"""Homer's Night Out""",Rich Moore,Jon Vitti,"March 25, 1990",7G10,30.3[55]
10,11,11,"""The Crepes of Wrath""",Wes Archer & Milton Gray,"George Meyer, Sam Simon, John Swartzwelder & J...","April 15, 1990",7G13,31.2[56]
11,12,12,"""Krusty Gets Busted""",Brad Bird,Jay Kogen & Wallace Wolodarsky,"April 29, 1990",7G12,30.4[57]
12,13,13,"""Some Enchanted Evening""",David Silverman & Kent Butterworth,Matt Groening & Sam Simon,"May 13, 1990",7G01,27.1[58]

In [11]:
import pandas as pd

In [13]:
df_premier22 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/E0.csv")

In [14]:
df_premier22

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,E0,08/04/2023,15:00,Tottenham,Brighton,2,1,H,1,1,...,2.01,0.00,2.07,1.86,2.05,1.88,2.09,1.94,1.99,1.87
292,E0,08/04/2023,15:00,Wolves,Chelsea,1,0,H,1,0,...,1.70,0.75,1.91,2.02,1.88,2.05,1.98,2.08,1.87,1.99
293,E0,08/04/2023,17:30,Southampton,Man City,1,4,A,0,1,...,2.32,1.75,1.92,2.01,1.83,2.10,2.02,2.12,1.89,1.98
294,E0,09/04/2023,14:00,Leeds,Crystal Palace,1,5,A,1,1,...,1.80,-0.50,2.08,1.85,2.09,1.85,2.12,1.87,2.07,1.82
295,E0,09/04/2023,16:30,Liverpool,Arsenal,2,2,D,1,2,...,2.19,0.00,2.08,1.85,2.07,1.85,2.11,1.93,2.01,1.87

In [15]:
df_premier22.rename(columns={'FTHG':'home_goals','FTAG':'away_goals'},inplace=True)

In [16]:
df_premier22

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,E0,08/04/2023,15:00,Tottenham,Brighton,2,1,H,1,1,...,2.01,0.00,2.07,1.86,2.05,1.88,2.09,1.94,1.99,1.87
292,E0,08/04/2023,15:00,Wolves,Chelsea,1,0,H,1,0,...,1.70,0.75,1.91,2.02,1.88,2.05,1.98,2.08,1.87,1.99
293,E0,08/04/2023,17:30,Southampton,Man City,1,4,A,0,1,...,2.32,1.75,1.92,2.01,1.83,2.10,2.02,2.12,1.89,1.98
294,E0,09/04/2023,14:00,Leeds,Crystal Palace,1,5,A,1,1,...,1.80,-0.50,2.08,1.85,2.09,1.85,2.12,1.87,2.07,1.82
295,E0,09/04/2023,16:30,Liverpool,Arsenal,2,2,D,1,2,...,2.19,0.00,2.08,1.85,2.07,1.85,2.11,1.93,2.01,1.87